@model IEnumerable<ProjectFinance2.Models.Account>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllAccounts</title>
</head>
<body>
<p>
    <a asp-action="IndexCreateAccount">Create New Account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Account Id
            </th>
            <th>
                Name
            </th>
            <th>
                Account Number
            </th>
            <th>
               Current Balance
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBalance)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.AccountId}, null)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
